body {
    font-family: Arial, sans-serif;
    background-color: #3498db; /* Cor de fundo azul */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra na caixa */
}

button {
    background-color: #2ecc71; /* Cor de fundo verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #27ae60; /* Cor de fundo verde mais escura ao passar o mouse */
}
